.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align:center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-pagination {
    position: initial;
}

.card{
    
    margin: 5%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgb(0, 0, 0, .2);    
}

.card__lado__direito{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__itens{
    padding-bottom: 10px;
}

h2.card__itens{
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;    
}

h1.card__itens{
    color: var(--azul);
    font-size: 20px;
    font-weight: 700;
}

p.card__itens{
    color: #000000;
    font-size: 14px;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.card__botoes-icones{
    padding: 0 7%;
}

.card__imagem{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}

.card__botao{
    padding: 1em 2.2em ;
    background-color: var(--laranja);
    text-decoration: none;
    color: var(--branco);
}

.topicos{
    background: var(--azul-degrade);
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 21.2px;
    
}

.topicos__titulo{
    padding: 32px 0;
    color: var(--branco);
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

.topicos__item{
    display: flex;
    flex-wrap: wrap;
    padding: 1em 1em ;
    background-color: var(--laranja);
    color: var(--branco);
    margin: 0.8em 0.6em;
}

.topicos__link{
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}
