.rodape{
    display: flex;
    background-color: #FFFFFF;
    padding:1em 2em;
}

.portais__lista{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .rodape{
        display: flex;
        justify-content: space-around;
        background-color: #FFFFFF;
        padding:3em 0;
    }

    .portais__lista{
        display: block;
    }

    .rodape__titulo{
        font-size: 24px;
        color: #000000;
    }

    .lista__titulos{
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza);
        padding-bottom: 2em;
    }

    .portais{
        display: flex;
        align-items: center
    }

    .portais__links{
        font-size: 14px;
        color: var(--cinza-escuro);
        text-decoration: none;
        padding: 1.4em 0.7em;

    }
}